@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

{
    margin: 0;
    margin: 0;
    box=sizing: border-box;
    font-family: "Lato", sans-serif;
}

body { 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images.jpeg);
    background-size: cover;
    background-position: center;
    background-color: rgb(192, 189, 189);
}

.wrapper {
    width: 400px;
    background: transparent;
    border: 2px solid rgba(225, 225, 225, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 40px;
    background: none;
    margin:  30px 0;
}

.input-box input {
    width: 90%;
    height: 90%;
    background: none;
    border: none;
    outline: black;
    border:  2px solid rgb(0, 0, 0);
    border-radius: 20px;
    font-size: 13px;
    color: #090101;
    padding:  none ;
}

.input-box input::placeholder {
    color: rgb(2, 11, 8);
}

.input-box i {
    position: none;
    right: 30px;
    top: 30%;
    transform: translateY(-10%);
    font-size: 20px;
}

.wrapper .remeber-forget {
    display:  flex;
    justify-content:  space-between;
    font-size: 14.5px;
    margin:  -15px 0 15px;
}

.remember-forget label input {
    accent-color: lavender;
    margin-right: 3px;
}

.remeber-forget  a {
    color: black;
    text-decoration: none;
}

.remeber-forget a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 90%;
    height: 40px;
    background: rgb(202, 200, 200);
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 0 10px black
    
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15 px;
}

.register-link p a {
   color: black;
   text-decoration: none;
   font-weight: 600;
}

.wrapper-link p a:hover {
    text-decoration: underline;
}
